.popupp{
  border: 2px solid black;

}
.mdlFontP{
  font-size: 15px !important;
}
.mdlFontS{
  font-size: 8px !important;
}
  .phone{
    border: 2px solid black;
    height: 400px;
    width: 250px;
    border-radius: 20px;
    display: inline-grid;
    grid-template-columns: 100%;
    grid-template-rows: 20% 20% 40% 200%;
    background: #F9F9F9;
  }
  .grid-itemacross {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 1;
    text-align: center;

  }
  .grid-itempopup {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 5;
    text-align: center;

  }
  .grid-item1 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
  }
  .grid-item2 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
    text-align: center;
  }
  .grid-item3 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    text-align: center;
  }
  .grid-item4 {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: center;
  }

  .buttonClass{
    height: 60px;
    width: 90px;
    background: #f59b25;
    border-radius: 5px;
  }
  .inputBox{
    width: 90%;
  }
  .demo-list-two {
  width: 300px;
}
