.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;

}

.grid-item {
  font-size: 30px;
  text-align: center;
}

.big-button {
  padding: 20px 70px;
  text-align: center;
  background-color: #f59b25;
  font-size: 24px;
  font-weight: bold;
  border-radius: 15px;
  font-color: #ffffff;
  border: 2px solid white;
}

.phone{
    /* TODO: this needs to be fixed or removed*/
    /* height: 400px;
    width: 250px; */

    border: 2px solid black;
    border-radius: 20px;
    display: inline-grid;
    grid-template-columns: auto 200px auto; /* to change the size of the phone */
    grid-column: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.grid-item1 {
grid-column-start: 1;
grid-column-end: 2;
grid-row-start: 2;
grid-row-end: 3;
text-align: center;
}

.main-title {
  font-size: 42px !important;
  font-weight: bold !important;
  color: white !important;
}

.main-subheadings{
  font-size: 21px !important;
  /* text-decoration: underline !important; not needed anymore*/
  color: white !important;
}

.mdl-layout__header-row{
  height: 80px !important;
}
