.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  background-color: white;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.grid-item {
  font-size: 30px;
  /* background-color: black; */
  border: 1px solid #487a48;
  text-align: center;
  outline-style: solid;
}
